@page
@model Projeto2022.Pages.CadastrarModel
@{
    
}

<form asp-page="/Cadastrar" method="post" data-ajax="true" data-ajax-method="post"
    data-ajax-success="Sucesso" data-ajax-failure="Falha">

  <div class="mb-3">
    <label asp-for="Nome" class="form-label">Nome do Usuário:</label>
    <input asp-for="Nome" class="form-control">
    <span asp-validation-for="Nome"></span>
  </div>

    <div class="mb-3">
    <label asp-for="Email" class="form-label">Email do Usuário:</label>
    <input asp-for="Email" class="form-control">

  </div>

  <div class="mb-3">
    <label asp-for="Usuario" class="form-label">Login do Usuário:</label>
    <input asp-for="Usuario" class="form-control">
    <span asp-validation-for="Usuario"></span>

  </div>

  <div class="mb-3">
    <label asp-for="Senha" class="form-label">Senha do Usuário:</label>
    <input asp-for="Senha" class="form-control">
    <span asp-validation-for="Senha"></span>

  </div>

<div>
@Html.EditorFor(x => x.Remember)
<label asp-for="Remember" class="form-label">Marque se for admin</label>
<span asp-validation-for="Remember"></span>

</div><br /><br />

    @if (@User.IsInRole("1"))
    {
    <button type="submit" class="btn btn-primary">Cadastrar</button>
        
    }

</form>