@page
@model Projeto2022.Pages.EditarModel
@{
}

<form asp-page="/Editar" method="post">
    <input type="hidden" asp-for="Id"/>
  <div class="mb-3">
    <label asp-for="Nome" class="form-label">Nome:</label>
    <input asp-for="Nome" class="form-control">
    <span asp-validation-for="Nome"></span>
  </div>

    <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input asp-for="Email" class="form-control">

  </div>

  <div class="mb-3">
    <label asp-for="Usuario" class="form-label">Usuário</label>
    <input asp-for="Usuario" class="form-control">
    <span asp-validation-for="Usuario"></span>

  </div>

<div>
@Html.EditorFor(x => x.Remember)
<label asp-for="Remember" class="form-label">Marque se for admin</label>
<span asp-validation-for="Remember"></span>

</div><br /><br />

  <button type="submit" class="btn btn-primary">Atualizar</button>

</form>