@page
@model Projeto2022.Pages.EditarFuncionarioModel
@{
}

<form asp-page="/EditarFuncionario" method="post" method="post" data-ajax="true" data-ajax-method="post"
    data-ajax-success="Sucesso" data-ajax-failure="Falha">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome do Funcionário:</label>
        <input asp-for="Nome" class="form-control">
        <span asp-validation-for="Nome"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DasID" class="form-label">DAS ID: </label>
        <input asp-for="DasID" class="form-control">
        <span asp-validation-for="DasID"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email do Funcionário: </label>
        <input asp-for="Email" class="form-control">
    </div>

        <div class="mb-3">
        <label asp-for="Qualidades" class="form-label">Qualidades: </label>
        <input asp-for="Qualidades" class="form-control">
    </div>

        <div class="mb-3">
        <label asp-for="Defeitos" class="form-label">Defeitos: </label>
        <input asp-for="Defeitos" class="form-control">
    </div>



    <br /><br />

    <button type="submit" class="btn btn-primary">Atualizar</button>

</form>