@page
@model Projeto2022.Pages.EditarSkillFuncionarioModel
@{
}

<form asp-page="/EditarSkillFuncionario" method="post" data-ajax="true" data-ajax-method="post"
      data-ajax-success="Sucesso" data-ajax-failure="Falha">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="SkillId" />

    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome da Skill:</label>
        <input asp-for="Nome" class="form-control">
        <span asp-validation-for="Nome"></span>
    </div>

    <br /><br />
   
        <button type="submit" class="btn btn-primary">Editar</button>

    

</form>